.logo {
    width: 50px;
}

.form-group {
    width: 50%;
}

.navbar {
    background: linear-gradient(90deg, #4CAF50, #00BCD4);
}

.d-flex {
    margin: auto;
}

.nav-item a:hover, form .nav-link:hover {
    color: white;
}

.search {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-border-radius: var(--bs-border-radius);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0px solid black;
    border-radius: 0 10px 10px 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search:hover {
    background-color: lightgray;
}

form .control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: none;
    border-radius: 10px 0 0 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    







    /* MOBIL */
@media screen and (max-width: 700px) {

    .form-group {
        width: 100%;
    }

}