.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.logo {
    width: 50px;
}

.form-group {
    width: 100%;
}

form {
    width: 50%;
}

.navbar {
    background: #6253da;
}

.d-flex {
    margin: 0 30px;
    width: auto;
}

.nav-item a:hover, .text-light:hover {
    color: rgb(233, 30, 99)!important;
}

.search {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-border-radius: var(--bs-border-radius);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0px solid black;
    border-radius: 0 10px 10px 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search:hover {
    background-color: lightgray;
}

form .control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: none;
    border-radius: 10px 0 0 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    
.articles {
    display: flex;
    flex-wrap: wrap;
}

.articles li {
    margin: 10px 0;
    width: 100%;
}

.article-detail {
    box-shadow: 0px 0px 5px grey;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
}

small {
    width: 100%;
}

.kniha {
    display: flex;
    flex-wrap: wrap;
}

.kniha img {
    margin: 20px 20px 0 0;
    width: auto;
    height: 250px;
    box-shadow: 3px 3px 10px 0px grey;
}

.obsah-knih {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.info-knih {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 0 0;
    align-content: space-between;
}

.info-knih p {
    width: 100%;
}

.name-book {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ms-auto {
    margin-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.pridat-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.kniha {
    color: var(--bs-secondary-color);
}

.prehled-knih {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    color: black;
    cursor: default;
}

h2 {
    width: 100%;
}

h1::after {
    content: "";
    display: block;
    height: 3px;
    background: #6253da;
    margin-left: -15px;
}

.new-books ul, .new-author ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ten-books a, .ten-authors a {
    text-decoration: none;
}

.new-books {
    display: flex; 
    margin-top: 20px;
    background-image: url(../images/police.webp);
    background-size: 100% 100%;
}

.ten-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    flex: 20%;
}

.ten-books img {
    width: auto;
    height: 150px;
    box-shadow: 3px 3px 10px 0px grey;
}

.authors, .books {
    box-shadow: 0px 0px 5px 0px #6253da;
    padding: 15px;
}

.new-author, .ten-authors {
    width: 100%;
}

.books, section {
    height: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 10px 10px 0;
    border: 1px solid #9387f5;
}

.new-author {
    display: flex;
    margin-top: 20px;
}

.ten-authors {
    display: flex;
    justify-content: flex-start;
}

.books {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    border-radius: 10px 0 0 10px;
    border: 1px solid #9387f5;
}

.add-img {
    display: flex;
    flex-wrap: wrap;
}

.add-img img {
    width: 80px;
}

.add-img a {
    margin: auto 10px;
}







@media (min-width: 1200px) {

    .fs-2 {
    margin-left: 20px;
    }
}


@media screen and (max-width: 700px) {

    .form {
        width: 100%;
    }

    .books, section {
        width: 100%;
    }

    .ten-books {
        flex: 50%;
    }

    .new-books {
        background-image: none;
    }


}