{% extends "base.html" %}
{% block title %}
    Přihlášení
{% endblock %}
{% block content %}

<h1>
    Přihlášení
</h1>
<div class="form-group">
    <form class="prihlasit" method="POST">
        <!-- token je pro bezpečnost při posílání formuláře -->
        {% csrf_token %}
        <!-- vytvoří formulář jako <p>; form.as_ul vytvoří formulář jako <ul> -->
        <!-- kolonky se modifikují v souboru forms.py, kde je jim udělena třída class="form-control" -->    
        {{ form.as_p }}
        <button class="btn btn-primary">Přihlásit</button>
</div>

<script>
    var username = document.getElementById("id_username");
    var password = document.getElementById("id_password");
    username.classList.add("form-control");
    password.classList.add("form-control");
</script>
    
{% endblock %}