{% extends "base.html" %}

{% block title %}
{{    book.title }}
{% endblock %}

{% block content %}

<h1>{{ book.title }}</h1>
{% if user.is_authenticated %}
    <a href="{% url 'upravit-knihu' book.pk %}">Upravit knihu</a>
{% endif %}

<div class="kniha">
    <div class="obsah-knih">
        {% if book.cover_image %}
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
        {% endif %}

        <div class="info-knih">
            <p>Napsal: {{ book.author }}</p>
            <p>Žánr: {{ book.genre }}</p>
            <p>Rok vydání: {{ book.publication_date }}</p>
            <p>ISBN: {{book.ISBN }}</p>
        </div>
    </div>
    <div>
        <p><h5>Popis:</h5> {{ book.summary|safe }}</p>
    </div>
</div>

{% endblock %}