{% extends "base.html" %}
{% load static %}

{% block title %}
{{ author.first_name }} {{ author.last_name }}
{% endblock %}

{% block content %}


<h1>{{ author.first_name }} {{ author.last_name }}</h1>
<h2 style="margin-top: 20px;">Knihy</h2>
<div class="author-books">
    <ul class="author-books-list">
        {% for book in author.book_set.all %}
        <li class="ten-books">
            <a href="{% url 'detail-knihy' book.pk %}">
                {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                    {% else %}
                    <img src="{% static 'images/empty_cover.webp' %}" style="border-radius: 15px 0 0 15px;" alt="Prázdný obal">
                    {% endif %}
            </a>
            <p style="margin-top: 20px;" class="prehled-knih fw-medium"> {{ book.title }} <br> ({{ book.publication_date }})</p>
        </li>
        {% empty %}
            <p>Žádné knihy nejsou dostupné.</p>
        {% endfor %}
    </ul>
</div>


{% endblock %}
