{% extends "base.html" %}
{% load static %}

{% block title %}
    Přehled knih
{% endblock %}

{% block content %}


<div class="books">
    <h1>Přehled nových knih</h1>

    <div class="new-books police">
        <ul style="justify-content: space-around;">
            {% for book in object_list %}
            <li class="ten-books">
                <a href="{% url 'detail-knihy' book.pk %}">
                    {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                    {% else %}
                    <img src="{% static 'images/empty_cover.webp' %}" style="border-radius: 15px 0 0 15px;" alt="Prázdný obal">
                    {% endif %}
                </a>
                <p style="width:100%" class="prehled-knih fs-6 fw-medium"> {{ book.author }} <br> {{ book.title }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'vsechny-knihy' %}"><button type="button" class="btn btn-primary shadow-sm">Více knih</button></a>
</div>

<section>
    <div class="authors">
        <h1>Přehled autorů</h1>
        <div class="new-author">
            <ul>
            {% for author in authors %}
                <li class="ten-authors">
                    <a href="{% url 'detail-autora' author.pk %}" style="margin-bottom: 0; cursor: pointer" class="prehled-knih fs-6 fw-medium">{{ author.first_name }} {{ author.last_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'vsichni-autori' %}"><button type="button" class="btn btn-primary shadow-sm">Více autorů</button></a>
    </div>
    <div class="pridat-btn">
        <div class="add-img">
            <img src="../../static/images/book.webp">
            <a href="{% url 'pridat-knihu' %}"><button type="button" class="btn btn-primary shadow-sm">Přidat knihu</button></a>
        </div>
        <div class="add-img">
            <img src="../../static/images/author.webp">
            <a href="{% url 'pridat-autora' %}"><button type="button" class="btn btn-primary">Přidat autora</button></a>
        </div>
    </div>
</section>

<div class="genre">
    <h1>Seznam žánrů</h1>
    <div style="margin: 30px auto 0;">
        <ul style="padding-left:0">
            {% for genre in genres %}
            <li>
                <a href="{% url 'zanr' genre.pk %}">{{ genre }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock%}