{% extends "base.html" %}
{% load static %}

{% block title %}
Seznam všech knih
{% endblock %}

{% block content %}
<h1>Seznam všech knih podle abecedy</h1>

<div class="abeceda-autoru">
    <ul>
        <li>
            <a href="{% url 'vsechny-knihy' %}" class="active">#</a>
        </li>
        {% for char in 'ABCČDEFGHIJKLMNOPQRŘSŠTUVWXYZŽ' %}
        <li>
            <a href="{% url 'vsechny-knihy-abecedne' char %}">{{ char }}</a>
        </li>
        {% endfor %}
    </ul>  
</div>

<div class="all-books police2">
    <ul>
        {% for book in object_list %}
        <li class="ten-books">
            <a href="{% url 'detail-knihy' book.slug %}">
                {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                {% else %}
                <img src="{% static 'images/empty_cover.webp' %}" style="border-radius: 15px 0 0 15px; height: 135px;" alt="Prázdný obal">
                {% endif %}
            </a>
            <p style="font-size: 15px; width:100%" class="prehled-knih fw-medium"> {{ book.title }} <br> {{ book.author }}  </p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    <span class="step-links">
        {% if all_books.has_previous %}
            <a href="?page=1">&laquo; první</a>
            <a href="?page={{ all_books.previous_page_number }}">předešlá</a>
        {% endif %}

        <span class="current">
            Stránka {{ all_books.number }} z {{ all_books.paginator.num_pages }}
        </span>

        {% if all_books.has_next %}
            <a href="?page={{ all_books.next_page_number }}">další</a>
            <a href="?page={{ all_books.paginator.num_pages }}">poslední &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}