{% extends "base.html" %}

{% block title %}
Seznam všech autorů
{% endblock %}

{% block content %}
<h1>Abecední přehled spisovatelů - písmeno {{ selected_char }}</h1>

<div class="abeceda-autoru">
    <ul>{% for char in 'ABCČDEFGHIJKLMNOPQRŘSŠTUVWXYZŽ'%}
        <li style="list-style-type: none; padding: 10px;">
            <a href="{% url 'vsichni-autori-abecedne' char %}">{{ char }}</a>
        </li>
    </ul>  
    {% endfor %}  
</div>    

<div>
    {% for author in filtered_authors %}
    <ul>
        <li>
            <a href="{% url 'detail-autora' author.slug %}">
                <p>{{ author.last_name }} {{ author.first_name }}</p>
            </a>
        </li>
    </ul>
    {% endfor %}
</div>




{% endblock %}