{% extends "base.html" %}

{% block title %}
Seznam všech autorů
{% endblock %}

{% block content %}
<h1>Seznam všech autorů podle abecedy</h1>

<div class="abeceda-autoru">
    <ul>
        <li>
            <a href="{% url 'vsichni-autori' %}" class="active">#</a>
        </li>
        {% for char in 'ABCČDEFGHIJKLMNOPQRŘSŠTUVWXYZŽ' %}
        <li>
            <a href="{% url 'vsichni-autori-abecedne' char %}">{{ char }}</a>
        </li>
        {% endfor %}
    </ul>  
</div>

<div class="abc-authors">
    {% for author in all_authors %}
    <ul>
        <li>
            <a href="{% url 'detail-autora' author.slug %}">
                <p>{{ author.last_name }} {{ author.first_name }}</p>
            </a>
        </li>
    </ul>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if all_authors.has_previous %}
            <a href="?page=1">&laquo; první</a>
            <a href="?page={{ all_authors.previous_page_number }}">předešlá</a>
        {% endif %}

        <span class="current">
            Stránka {{ all_authors.number }} z {{ all_authors.paginator.num_pages }}
        </span>

        {% if all_authors.has_next %}
            <a href="?page={{ all_authors.next_page_number }}">další</a>
            <a href="?page={{ all_authors.paginator.num_pages }}">poslední &raquo;</a>
        {% endif %}
    </span>
</div>



{% endblock %}