{% extends "base.html" %}

{% block title %}
Seznam všech autorů
{% endblock %}

{% block content %}
<h1>Seznam všech autorů podle abecedy</h1>

<div class="abeceda-autoru">
    <ul>{% for char in 'ABCČDEFGHIJKLMNOPQRŘSŠTUVWXYZŽ'%}
        <li style="list-style-type: none; padding: 10px;">
            <a href="">{{ char }}</a>
        </li>
    </ul>  
    {% endfor %}  
</div>    

<ul>
{% for author in all_authors %}
    <li>
        <a href="{% url 'detail-autora' author.pk %}">
            <p>{{ author.first_name }} {{ author.last_name }}</p>
        </a>
    </li>
    {% endfor %}
</ul>



{% endblock %}