{% extends "base.html" %}
{% load static %}
{% block title %}
    Výsledky hledání
{% endblock %}

{% block content %}
<h1>Výsledky hledání pro "{{ query }}"</h1>


<div class="vysledky">
    {% if books %}
    <section class="vysl-knih">
        <h3>Knihy:</h3>
        <ul>
            {% for book in books %}
            <li>            
                {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                {% else %}
                    <img src="{% static 'images/empty_cover.webp' %}" style="border-radius: 15px 0 0 15px;" alt="Prázdný obal">
                {% endif %}
                <a href="{% url 'detail-knihy' book.slug %}"> {{ book.title }} <br> {{ book.author }} <br> ({{ book.publication_date }}) </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if authors %}
    <section class="vysl-autoru">
        <h3>Autoři:</h3>
        <ul>
            {% for author in authors %}
            <li>
                <a href="{% url 'detail-autora' author.slug %}">{{ author.last_name }} {{ author.first_name }} </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</div>
    

{% endblock %}