{% extends "base.html" %}

{% block title %}
    Výsledky hledání
{% endblock %}

{% block content %}
<h1>Výsledky hledání pro "{{ query }}"</h1>

{% if books %}
    <section>
        <h3>Knihy:</h3>
        <ul>
            {% for book in books %}
            <li>
                <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                <a href="{% url 'detail-knihy' book.slug %}"> {{ book.title }} </a> 
            </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}

{% if authors %}
    <section>
        <h3>Autoři:</h3>
        <ul>
            {% for author in authors %}
            <li>
                <a href="">{{ author.last_name }} {{ author.first_name }} </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}

{% endblock %}