{% extends "base.html" %}

{% block title %}
Žánr {{ genre.genre }}
{% endblock %}

{% block content %}

<h1>Žánr {{ genre.genre }}</h1>
<div style="width: 100%;">
    <ul class="zanr">
        {% for book in books %}
        <li>
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
            <div>
                <a href="{% url 'detail-knihy' book.slug %}">{{ book.title }} <br> {{ book.author }} <br> ({{ book.publication_date }})</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    
</div>

{% endblock %}
