{% load static %}
<!doctype html>
<html lang="cs">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Databáze E-knih">
        <link rel="icon" type="image/x-icon" href="{% static 'images/logo.webp' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">  

        <!-- pokud se title nevytvoří dynamicky, bude mít hodnotu MW Knižní databáze-->
        <title>
            {% block title %}
            MW E-Knižní databáze
            {% endblock %}
        </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    </head>

    <body>
        
        <nav class="navbar border-bottom border-body navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-white fs-2" href="{% url "home" %}">
                    <img class="logo" src="../../static/images/logo.webp"> MW E-Knižní databáze
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item">
                            <form class="d-flex" role="search" action="{% url 'vysledky-hledani' %}" method="get">
                                <input class="control" type="type" placeholder="Hledat knihu, autora" aria-label="Search" name="q">
                                <button class="search" type="submit">Hledat</button>
                            </form>
                        </li>
                    </ul>

                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url "clanky" %}">Články</a>
                        </li>
                    </ul>

                    <!-- Začíná podmínka: pokud je user přihlášen, zviditelni: -->
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="{% url 'upravit-profil' %}" class="nav-link">Upravit profil</a>
                        </li>
                        <li class="nav-item">
                            <!-- bezpečnostní ověření při odhlášení, bez něj to nefunguje -->
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="nav-link text-light">Odhlásit</button>
                            </form>
                        </li>
                    </ul>

                    <!-- pokud user není přihlášen, tak mu ukaž tohle: -->
                    {% else %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url "login" %}">Přihlásit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url "registrace" %}">Registrace</a>
                        </li>
                    <!-- konec podmínky -->
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <!-- začátek dynamicky tvořeného obsahu -->
            {% block content %}

            {% endblock %}
            <!-- konec dynamicky tvořeného obsahu -->
        </div>

        <footer id="footer">
            <p class="copyright">&copy; <a href="https://mar6wen8.github.io/MarWen/">MarWen</a> 2024</p>
            <div>
                <a href="" target="_blank" aria-label="FaceBook"><i class="fab fa-facebook-f"></i></a>
                <a href="" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="mailto:mar6wen8@gmail.com" target="_blank" aria-label="e-mail"><i class="fa fa-envelope"></i></a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    </body>

</html>