<!-- načítá šablonu base.html a rozšiřuje ji-->
{% extends "base.html" %}
<!-- dynamicky tvořený title stránky-->
{% block title %}
    {{ post.title }}
{% endblock %}
<!-- vkládá obsah tohoto html souboru do base.html do části "block content"-->
{% block content %}

<div class="article">
    <h1>
        {{ post.title }}
    </h1>
    <div class="article-detail">
        <div class="who-articles">
            By: {{ post.author }} - {{ post.post_date }}
            {% if user.is_authenticated %}
                {% if user ==  post.author or user.is_staff %}
                    <div>
                        <a href="{% url 'upravit-clanek' post.pk %}">(Upravit)</a>
                        <a href="{% url 'smazat-clanek' post.pk %}">(Smazat)</a>
                    </div> 
                {% endif %}
            {% endif %}
        </div>
        <hr>
        <p>{{ post.body|safe }}</p>
    </div>

    <a href="{% url 'home' %}"class="btn btn-primary">Zpět</a>
</div>
{% endblock %}