<!-- načítá šablonu base.html a rozšiřuje ji-->
{% extends "base.html" %}
<!-- dynamicky tvořený title stránky-->
{% block title %}
    {{ post.title }}
{% endblock %}
<!-- vkládá obsah tohoto html souboru do base.html do části "block content"-->
{% block content %}

<h1>
    {{ post.title }}
</h1>
<small>By: {{ post.author }} - {{ post.post_date }}
    {% if user.is_authenticated %}
    <a href="{% url 'upravit-clanek' post.pk %}">(Upravit)</a>
    <a href="{% url 'smazat-clanek' post.pk %}">(Smazat)</a>
    {% endif %}
</small>
<hr>
<p>{{ post.body|safe }}</p>
<br/>
<a href="{% url 'home' %}"class="btn btn-dark">Zpět</a>

{% endblock %}